
.nav{
    display: flex;
    justify-content: space-around;
    
    margin: 20px;
    
}
.nav-h{
   font-size: large; 
   
}
.nav-b{
    color: rgba(0, 106, 80, 1);
    margin: 1px;
padding: 20px;
    border-radius: 5px;
    border-color: green;
}
.banner{
    display: flex;
    background-color: rgba(198, 228, 214, 1);
    justify-content: space-around;
    margin: 20px;
    border-radius: 20px;
    width: 1280;
    height: 560;
    
}
.b-left{
padding-top: 117px;
padding-left: 60px;
padding-bottom: 117px;

}
.b-right{
    height: 440px;
    width: 470px;
}
.b-h4{
    color: rgba(14, 14, 14, 0.5);

}
.b-h1{
font-weight: bold;
}
.b-button{
    color: white;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    border-radius: 15px;
    border: none;
}
.ok{
    margin-left: 30px;
}
    

.Future{
    display: flex;
    justify-content: space-between;

    height: 560;

}
.fbox-1{
background-color: rgb(190, 204, 236);
margin: 24px;
padding: 15px;
border-radius: 15px;
}
.fbax-2{
background-color: rgb(193, 245, 223);
margin: 24px;
padding: 15px;
border-radius: 15px;
}
.fbox-3{
background-color: rgb(240, 223, 180);
margin: 24px;
padding: 15px;
border-radius: 15px;
}
.button-1{
    
background-color: rgba(84, 144, 245, 1);
color: white;
padding: 10px;
font-weight: 700;
border-radius: 10px;
border: none;
}
.button-2{
background-color:rgba(9, 161, 92, 1) ;
color: white;
padding: 10px;
font-weight: 700;
border-radius: 10px;
border: none;
}
.button-3{
background-color:rgba(9, 161, 92, 1) ;
color: white;
padding: 10px;
font-weight: 700;
border-radius: 10px;
border: none;
}
.news-1{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-evenly;
    background-color: aliceblue;
    margin: 20px;
    border-radius: 20px;
}
.ne-1-l{
margin: 20px;
border-radius: 30px;
im
}
.ne-1-r{
    padding: 40px;


}
.same{
    color: white;
    background-color: #006A50;
    padding: 10px;
    border-radius: 15px;
    border: none;
}
.news-2{
    display: flex;
    justify-content: space-evenly;
    
    margin: 20px;
    border-radius: 20px;
    background-color: aliceblue;
}
.vision{
    margin: 27px;
}